.description {
    width: 60%;
    text-align: center;
    background: var(--light-color);
    box-shadow: 10px 10px 15px var(--dark-color);
    position: relative;
}

.description .select {
    width: 100px;
    line-height: 2.5rem;
    margin: 0 auto;
    background: var(--dark-color);
    text-shadow: 1px 1px 1px var(--dark-color);
    color: var(--dark-text-color);
    text-transform: capitalize;
}

.description p {
    margin: 50px;
}