:root {
    --dark-color: rgba(32,32,32,0.75);
    --light-color: rgba(214,214,214, 0.75);
    --light-text-color: white;
    --dark-text-color: black;
    --special-color: #487eb0;
    --main-font: 'Roboto Condensed', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--main-font);
    overflow: hidden;
    background: var(--dark-text-color);
}

.bg-image {
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -9999;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

main {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 150px auto 0;
}

.lang-pl {
    display: none;
}