.content {
    width: 35%;
    padding: 70px 20px;
    text-align: center;
    position: relative;
    background: rgba(176,176,176, 0.75);
    box-shadow: 10px 10px 15px var(--dark-color);
}

.content img {
    width: 150px;
    height: 150px;
    border: 3px solid var(--dark-text-color);
    border-radius: 50%;
    box-shadow: 0px 10px 10px var(--dark-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content h1 {
    font-weight: normal;
    margin-bottom: 3px;
}

.content p:first-of-type {
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

.content .intro {
    margin: 50px auto;
}

.content p {
    margin: 15px;
}

.social {
    width: 150px;
    margin: auto;
    font-size: 2rem;
}

.social ul {
    display: flex;
    justify-content: space-between;
}

.social ul a{
    display: block;
    text-decoration: none;
    color: var(--light-text-color);
}

.social ul a:hover {
    color: var(--dark-text-color);
    text-shadow: 5px 5px 10px var(--dark-color);
}