.content {
    width: 35%;
    padding: 70px 30px 30px;
    text-align: center;
    position: relative;
    box-shadow: 10px 10px 15px var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content img {
    width: 150px;
    height: 150px;
    border: 3px solid var(--special-color);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content div:first-of-type h1,
.content div:first-of-type p {
    font-weight: normal;
    margin: 5px;
}

.content p span {
    margin: 0;
    font-weight: normal;
    font-style: italic;
    color: var(--special-color);
}

.content__social {
    width: 150px;
    font-size: 2rem;
}

.content__social ul {
    display: flex;
    justify-content: space-between;
}

.content__social ul a{
    display: block;
    text-decoration: none;
    color: var(--special-color);
}

.content__social ul a:hover{
    color: var(--light-text-color);
    display: block;
    text-decoration: none;
}