body {
    color:  var(--light-color);
}

.bg-image {
    filter: blur(10px) brightness(0.3);
}

.content {
    background: rgba(16,16,16, 0.75);
}

.social ul a:hover {
    color: var(--light-text-color);
    text-shadow: 0 0 15px var(--special-color);
}

.description {
    background: var(--dark-color);
}

.description .select {
    background: var(--light-color);
    text-shadow: 1px 1px 1px var(--light-color);
    color: var(--light-text-color);
}

.menu ul i::before {
    color: var(--light-color);
    background: var(--dark-color);
}

.menu ul i::after {
    color: var(--dark-text-color);
    text-shadow: 1px 1px 1px var(--light-color);
    background: var(--light-color);
}

.opt-item,
.opt-button {
   color: var(--light-color);
   box-shadow: 0 0 10px var(--light-color);
}