body {
    color:  var(--light-color);
}

.bg-image {
    filter: blur(10px) brightness(0.3);
}

.content {
    background: rgba(16,16,16, 0.75);
}

.content__social ul a:hover {
    text-shadow: 0 0 15px var(--special-color);
}

.desc section{
    background: var(--dark-color);
}

.desc .select {
    background: var(--light-color);
    text-shadow: 1px 1px 1px var(--light-color);
    color: var(--light-text-color);
}

.menu ul i::before {
    color: var(--light-color);
    background: var(--dark-color);
}

.menu ul i::after {
    color: var(--dark-text-color);
    text-shadow: 1px 1px 1px var(--light-color);
    background: var(--light-color);
}

.options__item,
.options__button {
   color: var(--light-color);
   box-shadow: 0 0 10px var(--light-color);
}

/* Work */

.face--front {
    background-color: var(--dark-color);
}

.face--back {
    background-color: var(--dark-color);
}

.face__content a:hover {
    text-decoration: none;
    color: var(--light-text-color);
    text-shadow: 0 0 10px var(--special-color);
}

/* Contact */

#contact form .icon {
    border-bottom: 3px solid var(--light-color);
}

#contact form input:not([type="submit"]),
#contact form textarea {
    color: var(--light-color);
    border-bottom: 3px solid var(--light-color);
}

#contact form input:focus,
#contact form textarea:focus {
    background-color: var(--light-color);
}

#contact form input[type="submit"] {
    background-color: var(--special-color);
    color: var(--light-color);
}

#contact form input[type="submit"]:hover,
#contact form input[type="submit"]:focus {
    background-color: var(--light-color);
    color: var(--special-color);
    text-shadow: 0 0 10px var(--light-color);
}