#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#skills p {
    margin: 0;
}

#skills ul {
    width: 80%;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

#skills ul li img{
    width: 64px;
    transition: .4s linear;
}