.desc {
    width: 60%;
    text-align: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    box-shadow: 10px 10px 15px var(--dark-color);
}

.desc section {
    height: 100%;
    padding: 20px;
    border-bottom: 3px solid var(--special-color)
}

.desc p {
    margin: 20px;
}

.desc::-webkit-scrollbar {
    width: 7px;
}

.desc::-webkit-scrollbar-thumb {
    background-color: var(--special-color);
}