.description {
    width: 60%;
    height: 60vh;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    box-shadow: 10px 10px 15px var(--dark-color);
}

.description section {
    height: 100%;
    padding: 20px;
}

.description p {
    margin: 20px;
}

#contact form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contact form label,
#contact form input,
#contact form textarea {
    width: 100%;
}