body {
    color:  var(--dark-text-color);
}

.bg-image {
    filter: blur(10px);
}

.content {
    background: rgba(176,176,176, 0.75);
}

.social ul a:hover {
    text-shadow: 0 0 10px var(--dark-color);
}

.description {
    background: var(--light-color);
}

.description .select {
    background: var(--dark-color);
    text-shadow: 1px 1px 1px var(--dark-color);
    color: var(--light-text-color);
}

.menu ul i::before {
    color: var(--dark-text-color);
    background: var(--light-color);
}

.menu ul i::after {
    color: var(--light-text-color);
    text-shadow: 1px 1px 1px var(--dark-color);
    background: var(--dark-color);
}

.opt-item,
.opt-button {
   color: var(--dark-text-color);
   box-shadow: 0 0 10px var(--dark-color);
}

#contact form .icon {
    box-shadow: 0 0 3px var(--dark-color);
    border-bottom: 3px solid var(--dark-color);
}

#contact form input:not([type="submit"]),
#contact form textarea {
    color: var(--dark-text-color);
    border-bottom: 3px solid var(--dark-color);
}

#contact form input:focus,
#contact form textarea:focus {
    background-color: var(--dark-color);
}

#contact form input[type="submit"] {
    background-color: var(--special-color);
    color: var(--dark-color);
}

#contact form input[type="submit"]:hover,
#contact form input[type="submit"]:focus {
    background-color: var(--dark-color);
    color: var(--special-color);
    text-shadow: 0 0 10px var(--dark-color);
}