.hamburger {
    padding: 10px;
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.hamburger,
.menu,
.hamburger__inner::before,
.hamburger__inner::after {
    transition: transform .1s ease-in-out;
}

.hamburger__box {
    width: 35px;
    height: 24px;
    display: block;
    position: relative;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
}

.hamburger__inner {
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .1s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
}

.hamburger__inner::before {
    top: -10px;
}

.hamburger__inner::after {
    top: 10px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
    transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
    transform: translateY(-10px) rotate(-45deg);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}

.menu ul {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu ul li {
    width: 19%;
    height: 2.5rem;
}

.menu ul i {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.menu ul i::before,
.menu ul i::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 2.5rem;
    text-transform: capitalize;
    transform-style: preserve-3d;
    transition: .2s;
}

.menu ul i::before {
    font-size: 1.5rem;
    transform: rotateX(0deg);
    transform-origin: top;
    box-shadow: 0 5px 10px var(--dark-color);
}

.menu ul i:hover::before {
    transform: rotateX(90deg);
}

.menu ul i::after {
    content: attr(afterContent);
    font-family: var(--main-font);
    font-weight: normal;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.menu ul i:hover::after {
    transform: rotateX(0deg);
}

.menu ul .active i::before {
    transform: rotateX(90deg);
}

.menu ul .active i::after {
    transform: rotateX(0deg);
}