.options {
   position: fixed;
   top: 0;
   right: 0;
   transform: translate(-50%);
   width: 50px;
   height: 50px;
   text-align: center;
   z-index: 9999;
}

.options__item,
.options__button {
   border-radius: 100%;
   width: 50px;
   height: 50px;
   position: absolute;
   text-align: center;
   line-height: 50px;
   transform: translate3d(0, 0, 0);
   transition: transform ease-out .2s;
   font-size: 2rem;
}

.options__item {
   opacity: 0;
   text-decoration: none;
}

.options--open {
   display: none;
}

.options__item:nth-child(3),
.options__item:nth-child(4) {
   transition-duration: .18s;
}

.options__button {
   z-index: 1;
   cursor: pointer;
}

.options--open:checked + .options__button {
   transition-duration: .2s;
   transform: scale(0.7, 0.7) rotate(180deg);
   box-shadow: none;
}

.options--open:checked ~ .options__item {
   transition-timing-function: cubic-bezier(1, 0, 0.3, 1.5);
   opacity: 1;
}

.options--open:checked ~ .options__item:nth-child(3) {
   transition-duration: .18s;
   transform: rotate(168deg) translate(75px) rotate(-168deg);
}

.options--open:checked ~ .options__item:nth-child(4) {
   transition-duration: .28s;
   transform: rotate(113deg) translate(75px) rotate(-113deg);
}

.options__item img {
   width: 70%;
   height: 70%;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   border-radius: 100px;
}