@media all and (min-width: 1600px) {
    main {
        flex-basis: 50%;
    }
}

@media all and (max-width: 1200px) {
    main {
        flex-basis: 80%;
    }
}

@media all and (max-width: 992px) {
    main {
        flex-basis: 100%;
    }
}

@media all and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        position: fixed;
        width: 100%;
        transform: translateY(-100%);
    }

    .menu--active {
        transform: translateY(0px);
    }

    .menu ul {
        width: 100%;
        flex-direction: column;
        background: var(--light-text-color);
    }

    .menu ul li {
        width: 100%;
    }

    body {
        overflow: auto;
    }

    .desc {
        height: auto;
    }

    .desc section {
        height: 100vh;
    }

    main {
        flex-basis: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }

    .content,
    .desc {
        width: 100%;
        box-shadow: none;
    }

    .content {
        padding: 30px;
        height: 100vh;
    }

    .content img {
        position: relative;
        left: 0;
        transform: none;
    }
}